/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "daisyui" {
  /* Declaring that all themes are available from daisyui */
  themes: all;
  exclude: rootscrollgutter;
}
